.left-upbox, .left-downbox {
    width: 20%;
    height: 38vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-radius: 10px; /* Adjust the value for more or less rounding */
}
.left-upbox{
    background-color: #DED3C8;
}
.left-downbox{
    background-color: #E5B75E;
}
body {
    position: relative;
    height: 100vh;
    margin: 0;
}

.container1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 50vw;
    background-color: whitesmoke;
}

.rightlength-content{
    position: absolute;
    right: 2.5vw;
    top: 2.1vh;
    width: 20%;
    height: 53vh;
    background-color: #DCD1FC;
    border-radius: 10px; /* Adjust the value for more or less rounding */
}

.main-content{
    position: absolute;
    left: 27.8%;
    top: 2.9%;
    width: 44%;
    height: 28vh;
    border-radius: 10px; /* Adjust the value for more or less rounding */
    background-color: #7651DC;
}
.mini-section1{
    position: absolute;
    left: 27.8%;
    top: 33vh;
    width: 20.5%;
    height: 22.1vh;
    border-radius: 10px; /* Adjust the value for more or less rounding */
    background-color: snow;
}

.mini-section2{
    position: absolute;
    left: 51%;
    top: 33vh;
    width: 20.5%;
    height: 22.1vh;
    border-radius: 10px;
    background-color: #E5B75E;
}

.mini-section3{
    position: absolute;
    left: 27.8%;
    top: 57vh;
    width: 20.5%;
    height: 23.4vh;
    border-radius: 10px;
    background-color: snow;
}
.bellow-aside{
    position: absolute;
    left: 50.9%;
    top: 57vh;
    width: 44%;
    height: 23.4vh;
    border-radius: 10px;
    background-color: #7651DC;
}
.s12{
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 2vw + 1vh, 3rem);
    color: white;
    font-weight: bold;
    font-style: normal; 
    text-align: center;
    line-height: 1.4;
    margin-bottom: 0vh;
    margin-top: 1vh;
}
.s1{
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 2vw + 1vh, 3rem);
    color: white;
    font-weight: bold;
    font-style: normal; 
}

.s111{
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(0.1em, 0.8vw + 0.5vh, 1.4em);
    color: white;
    font-style: normal; 
    text-align: center;
    margin-top: 1vh;
}

.yellow-t{
    color: #E5B75E;
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}
.italic-w{
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: clamp(1.2rem, 2vw + 1vh, 3rem);
    margin-bottom: 2vh;
    margin-top: -1vh;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 10px; /* Optional: add rounded corners */
}

img.s121{
    width: 80%;
    height: auto;
    margin-top: 1.5em; /* Center the image */
    border-radius: 10px; /* Optional: add rounded corners */
}

.s13{
    font-family: 'DM Sans', 'DM Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: clamp(1.2rem, 1.3em, 3rem);
    color: black;
    margin-left: 0.8vw;
    margin-top: 2vh;
    margin-bottom: -2vh;
}

.as2{
    font-family: 'DM Sans Medium','DM Sans', Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    text-align: left;
    font-size: clamp(0.2rem, 0.9vw + 0.2vh, 3rem);
    margin-bottom: 2vh;
    margin-top: 1vh;
    margin-left: 0.8vw;
}

img.s122{
    width: auto;
    height: 75%;
    margin-top: 1.5em; /* Center the image */
    border-radius: 10px;
    text-align: left;
    float: left;
    margin-left: 0.8vw;
}

img.s123{
    width: auto;
    height: 80%;
    margin-top: 1.5em; /* Center the image */
    border-radius: 10px;
}

.growth_percent{
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 2vw + 1vh, 3rem);
    color: black;
    font-style: normal; 
    text-align: left;
    line-height: 1.4;
    margin-bottom: 0vh;
    margin-top: 1vh;
    margin-left: 0.8vw;
}

.s112{
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(0.1em, 0.5vw + 0.5vh, 1.4em);
    color: black;
    font-style: normal; 
    font-weight: bold;
    text-align: left;
    margin-top: 1vh;
    margin-left: 0.8vw;
}

.aside-belowl{
    font-family: 'DM Sans 14pt Thin', 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 0.2vw + 1vh, 3rem);
    color: white;
    font-weight: bold;
    font-style: normal; 
    text-align: left;
    line-height: 1.4;
    margin-bottom: 0vh;
    margin-top: 1vh;
}

.mini-section3 .s112{
    margin-top: -0.8vh;
}

.left-upbox .as2{
    font-size: clamp(0.2rem, 0.9vw + 0.2vh, 3rem);
    display: inline;
}

.left-upbox span{
    color: #7757C7;
    font-style: italic;
    font-size: clamp(0.2rem, 0.9vw + 0.2vh, 3rem);
    display: inline;
}

.left-downbox .as2{
    font-size: clamp(0.2rem, 0.9vw + 0.2vh, 3rem);
    padding-top: 0.8vh;
}

.left-upbox .as21{
    font-family: 'DM Sans Medium','DM Sans', Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    text-align: left;
    font-size: clamp(0.2rem, 0.9vw + 0.2vh, 3rem);
    margin-bottom: 2vh;
    margin-top: 1vh;
    margin-left: 0.8vw;
}
